[Unit]
Description=Chromatik Service
After=network.target

[Service]
Type=simple
User=naga
WorkingDirectory=/home/naga/Chromatik
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/java"
ExecStart=/bin/bash /home/naga/Chromatik/raspberrypi-run.sh
Restart=always
RestartSec=10
StandardOutput=file:/home/naga/Chromatik/logs/chromatik-service.log

[Install]
WantedBy=multi-user.target